:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --link-primary-color: #2196f3;
    --link-seconary-color: #ffffff;
    --footer-color: rgba(255, 255, 255, 0.6);
} 

.index_none {
        display: none;
        color: var(--link-seconary-color);
        inset: 0;
}


a {
    text-decoration: none;
}


     Общие
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    body {
        padding-box: var(--link-seconary-color);
        width: 1600px;
        margin: 0 auto;
        
        background-color: #e5e5e5;
        font-family: Roboto, sans-serif;
    }
    

    a {
        text-decoration: none;
    }

     html {
        box-sizing: border-box;
    } 

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    } 

    /* Стили Main*/ 
    
    .heroname {
        color: var(--link-seconary-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        padding-top: 200px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
    }

    h2.index {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        padding-top: 94px;
        
    }

    h2.none,
    h1.none {
        display: none;
        padding: 0 0;
        margin: 0 0;
    }

    h3 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .container_a  {
        padding-bottom: 94px;
    }
    .container_b  {
        padding-bottom: 194px;
    }

    /* Стили ЛОГО */
    header
        {
            padding-bottom: 0px;
            width: 1600px;
            /* height: 280px; */
            border: 1px solid #EEEEEE;
            
            
        }


    .container_b {
        padding-bottom: 0px;
        width: 1170px;
        margin: 0 215px 0px;
        
    }
   

    .logo {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--link-primary-color);
        text-decoration: none;
        
        
    }

    .logo_h {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
        text-decoration: none;
        margin-top: 50px;
    }

        .logo_f {
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--link-seconary-color);
            text-decoration: none;
            margin-top: 50px;
        }


    .link .studio {
        text-transform: none;
        font-family: Raleway, sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
        letter-spacing: 0.03em;
        color: var(--link-seconary-color);
    }

    .mario .nav {
        display: flex;
        margin-left: 16px;
        list-style-type: none;
    }

    .nav .item:not(:last-child) {
        margin-right: 50px;
    }

    .main-nav {
        padding: 2px 215px 0px 215px;
        display: flex;
        align-items: center;
    }

    /* Навигация портфолио */
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;

        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        border-radius: 4px;
        padding: 6px 22px;
        display: inline-block;
    }

    button:hover,
    button:focus {
        color: var(--link-seconary-color);
        background: var(--link-primary-color);
    }

    

    

    /* Навигация (левая сторона) */
    .nav,
    .adress a {
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    }

    .nav .link-current {
        color: var(--link-primary-color);
    }

    .nav .link-nav {
        color: var(--primary-text-color);
    }

    .nav .link-nav:hover,
    .nav .link-nav:focus {
        color: var(--link-primary-color);
    }

    .nav .link-current,
    .nav .link-nav {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* Навигация (правая сторона) */
    .adress {
        display: flex;
        list-style-type: none
        

    }

    address {
        margin-left: auto;
    }

    .adress .item+.item {
        margin-left: 50px;
    }

    .adress a {
        color: var(--title-text-color);
        font-style: normal;
    }

    .adress a:hover,
    .adress a:focus {
        color: var(--link-primary-color);
    }

    /* Герой */
    .hero {
        background-color: #2F303A;
        width: 1600px;
        height: 600px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        /* margin-top: 60px; */
        text-align: center;
    }

    .button-check {
        color: var(--link-seconary-color);
        background: var(--link-primary-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        min-width: 500px;
        height: 50px;
        padding: 10px 32px;
        margin: 0px auto;
        border-radius: 4px;
        text-align: center;
    }

    .button-check:hover,
    .button-check:focus {
        color: var(--link-primary-color);
        background-color: var(--link-seconary-color);
    }

    /* Наши приемущества */
    .ahtung {
        background-color: var(--link-seconary-color);
        list-style-type: none;
        padding-left: 215px;
        padding-right: 215px;

    }
        
        .ahtung li:not(:last-child) {
            margin-right: 30px;
            
        }
        .ahtung ul {
        display: flex;
        list-style-type: none;
        padding-bottom: 94px;
    }
    
    .nameh3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
        inset: 0;
        
    }
    .paragraph {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        margin: 0;
        
    }

    



    /* Чем мы занимаемся */
    .container_a ul, .container_b ul {
        display: flex;
        list-style-type: none;
    }
    .container_a {

        background-color: var(--link-seconary-color);
        padding-left: 215px;
        padding-right: 215px;
    }

    .container_a li:not(:last-child) {
        margin-right: 30px;
    }
    .container_b li:not(:last-child) {
        margin-right: 30px;
        
    }
    .container_b li {
        border-radius: 0px 0px 4px 4px;
        background: var(--link-seconary-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
            
    }
    .container_b ul {
        padding-bottom: 94px;
    }

    /* Наша команда */
    .team.build {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }

    .vocation {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    .team .social {
        color: #afb1b8;
    }

    .team .social:hover,
    .team .social:focus {
        color: var(--link-seconary-color);
        background-color: var(--link-primary-color);
    }

    figure {
        margin: 0;
    }

    figure img {
        margin-top: 0;
        margin-bottom: 30px;
    }

    figure figcaption {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .paragraph {
        margin-top: 0;
        margin-bottom: 16px;
    }

    /* Наши клиенты */
    .clients a {
        color: var(--title-text-color);
        display: inline-block;
        min-width: 175px;
        height: 90px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        text-align: center;
    }

    .clients a:hover,
    .clients a:focus {
        color: var(--link-seconary-color);
        background-color: var(--link-primary-color);
    }

    .link .title:hover {
        color: var(--link-seconary-color);
        background: var(--link-primary-color);
    }
    /* $ Майн на портфолио */
    .mainportfol {
        
        width: 1600px ;
        /* height: 1400px; */
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: rgb(136, 53, 53);
    }

    .mainportfolbuton {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0px 215px auto;
        list-style-type: none;
        padding-top: 94px;
    }

    /* Список предложений */
    .list-offer .offer {
        
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    .list-offer .portfolio {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        background: var(--link-seconary-color);
    }
    .portfolio, .offer {
        padding-left: 24px;
    }

    .main-nav, .mainportfol {
    background: var(--link-seconary-color);
    }

    ul .offer {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    .linkto {
        width: 370 ;
        height: 294;
        
    }
    a.linkto:hover,
    a.linkto:focus {
        
        color: var(--link-seconary-color);
        background: var(--link-primary-color);
    }

    .list-offer {

        list-style-type: none;
        width: 1230px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 94px;
        display: flex;
        flex-wrap: wrap;
        
    }
    .fotokriak {
        width: 370px;
        height: 294px;
        }

    .likriak {
        border: 1px solid #EEEEEE;
        width:  370px;
        margin-right: 30px;
        margin-bottom: 30px;
        background: var(--link-seconary-color);
    }

    .likriak:nth-child(3n) {
        margin-right: 0;
    }

    .likriak:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
        

    /* Футер */
    footer {
        padding: 10 60 100 200;
        background: #2f303a;
        
    }
    .more {
        padding: 100 100 50 50;
    }

    footer .adress {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--link-seconary-color);
    }

    footer b {
        color: var(--link-seconary-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: 0;
        display: inline-block;
        
    }

    footer .mail,
    footer .tel {
        color: var(--footer-color);
        font-style: normal;
        
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .tel {
        margin-bottom: 60px;
    }

  

.ulfoot {
    list-style-type: none;
    padding: 0px 100px 60px 0px;
}
    

    div ul {
        display: inline-block;
        display: flex;
    }

    footer div {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    footer {        
        width: 1600px;
        padding-left: 215px;
        padding-right: 215px;
        margin-left: auto;
        margin-right: auto;
    }

    footer b {
        margin: 0;
        padding: 0;
    }

    
